<h1> DATA EXPLORATION </h1>

<h2>0. Import libraries</h2>

In [1]:
import pandas as pd

<h2>1. Load the dataset</h2>

In [8]:
file_path ="C:/Users/ommji_mttma5p/OneDrive/Desktop/Apexplanet/Data_Wrangling/data/online_retail.csv"
df = pd.read_csv(file_path)

<h2>2. View first few rows</h2>

In [9]:
print("First 5 rows of the dataset:")
print(df.head())

First 5 rows of the dataset:
  Invoice StockCode                          Description  Quantity  \
0  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1  536365     71053                  WHITE METAL LANTERN         6
2  536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

        InvoiceDate  Price  Customer ID         Country
0  01-12-2010 08:26   2.55      17850.0  United Kingdom
1  01-12-2010 08:26   3.39      17850.0  United Kingdom
2  01-12-2010 08:26   2.75      17850.0  United Kingdom
3  01-12-2010 08:26   3.39      17850.0  United Kingdom
4  01-12-2010 08:26   3.39      17850.0  United Kingdom

<h2>3. Dataset shape</h2>

In [10]:
print("\nDataset shape (rows, columns):")
print(df.shape)

Dataset shape (rows, columns):
(541910, 8)

<h2>4. Column names</h2>

In [11]:
print("\nColumn names:")
print(df.columns)

Column names:
Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

<h2>5. Dataset info</h2>

In [12]:
print("\nDataset info:")
print(df.info())

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  object
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

<h2>6. Summary statistics</h2>

In [13]:
print("\nSummary statistics:")
print(df.describe(include="all"))

Summary statistics:
       Invoice StockCode                         Description       Quantity  \
count   541910    541910                              540456  541910.000000
unique   25900      4070                                4223            NaN
top     573585    85123A  WHITE HANGING HEART T-LIGHT HOLDER            NaN
freq      1114      2313                                2369            NaN
mean       NaN       NaN                                 NaN       9.552234
std        NaN       NaN                                 NaN     218.080957
min        NaN       NaN                                 NaN  -80995.000000
25%        NaN       NaN                                 NaN       1.000000
50%        NaN       NaN                                 NaN       3.000000
75%        NaN       NaN                                 NaN      10.000000
max        NaN       NaN                                 NaN   80995.000000

             InvoiceDate          Price    Customer ID         Country
count             541910  541910.000000  406830.000000          541910
unique             23260            NaN            NaN              38
top     31-10-2011 14:41            NaN            NaN  United Kingdom
freq                1114            NaN            NaN          495478
mean                 NaN       4.611138   15287.684160             NaN
std                  NaN      96.759765    1713.603074             NaN
min                  NaN  -11062.060000   12346.000000             NaN
25%                  NaN       1.250000   13953.000000             NaN
50%                  NaN       2.080000   15152.000000             NaN
75%                  NaN       4.130000   16791.000000             NaN
max                  NaN   38970.000000   18287.000000             NaN

<h1> DATA QUALITY ASSESSMENT </h1>

<h2>0. Import Libraries</h2>

In [15]:
#import pandas as pd

<h2>1. Load dataset</h2>

In [16]:
#df = pd.read_csv("data/online_retail.csv")

<h2>2. Missing values per column:</h2>

In [17]:
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

<h2>3. Duplicate rows count:</h2>

In [18]:
print("\nDuplicate rows count:")
print(df.duplicated().sum())

Duplicate rows count:
5268

<h2>4. Data types:</h2>

In [20]:
print("\nData types:")
print(df.dtypes)

Data types:
Invoice         object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
Price          float64
Customer ID    float64
Country         object
dtype: object

<h2>5. Quantity value distribution:</h2>

In [21]:
print("\nQuantity value distribution:")
print(df["Quantity"].describe())

Quantity value distribution:
count    541910.000000
mean          9.552234
std         218.080957
min      -80995.000000
25%           1.000000
50%           3.000000
75%          10.000000
max       80995.000000
Name: Quantity, dtype: float64

<h2>6. UnitPrice value distribution:</h2>

In [23]:
print("\nUnitPrice value distribution:")
print(df["Price"].describe())

UnitPrice value distribution:
count    541910.000000
mean          4.611138
std          96.759765
min      -11062.060000
25%           1.250000
50%           2.080000
75%           4.130000
max       38970.000000
Name: Price, dtype: float64

<h1> DATA CLEANING </h1>

<h2>0. Import Libraries</h2>

In [24]:
#import pandas as pd

<h2>1. Load dataset</h2>

In [26]:
#df = pd.read_csv("data/online_retail.csv")

In [27]:
print("Initial dataset shape:", df.shape)

Initial dataset shape: (541910, 8)

<h2>2. Remove duplicate rows</h2>

In [28]:
df = df.drop_duplicates()
print("After removing duplicates:", df.shape)

After removing duplicates: (536642, 8)

<h2>3. Handle missing CustomerID</h2>

In [30]:
df = df.dropna(subset=["Customer ID"])
print("After removing missing Customer ID:", df.shape)

After removing missing Customer ID: (401605, 8)

<h2>4. Remove invalid Quantity values (Negative or zero quantities)</h2>

In [31]:
df = df[df["Quantity"] > 0]
print("After removing invalid quantities:", df.shape)

After removing invalid quantities: (392733, 8)

<h2>5. Remove invalid UnitPrice values</h2>

In [32]:
df = df[df["Price"] > 0]
print("After removing invalid prices:", df.shape)

After removing invalid prices: (392693, 8)

<h2>6. Convert InvoiceDate to datetime</h2>

In [33]:
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"], errors="coerce")

<h2>7. Remove rows with invalid dates</h2>

In [34]:
df = df.dropna(subset=["InvoiceDate"])
print("After fixing InvoiceDate:", df.shape)

After fixing InvoiceDate: (166364, 8)

<h2>8. Save cleaned dataset</h2>

In [35]:
df.to_csv("C:/Users/ommji_mttma5p/OneDrive/Desktop/Apexplanet/Data_Wrangling/data/cleaned_online_retail.csv", index=False)
print("Data cleaning completed successfully!")

Data cleaning completed successfully!

<h1> FEATURE ENGINEERING </h1>

<h2>0. Import Libraries</h2>

In [36]:
#import pandas as pd

<h2>1. Load cleaned dataset</h2>

In [37]:
df = pd.read_csv("C:/Users/ommji_mttma5p/OneDrive/Desktop/Apexplanet/Data_Wrangling/data/cleaned_online_retail.csv")

<h2>2. Feature Engineering  -->> Total price per transaction </h2>

In [39]:
df["TotalPrice"] = df["Quantity"] * df["Price"]

<h2>3. Convert InvoiceDate to datetime (safety check)</h2>

In [41]:
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])

<h2>4. Extract date features</h2>

In [43]:
df["InvoiceYear"] = df["InvoiceDate"].dt.year
df["InvoiceMonth"] = df["InvoiceDate"].dt.month
df["InvoiceDay"] = df["InvoiceDate"].dt.day

<h2>5. Save final dataset</h2>

In [44]:
df.to_csv("C:/Users/ommji_mttma5p/OneDrive/Desktop/Apexplanet/Data_Wrangling/data/final_online_retail.csv", index=False)

print("Feature engineering completed!")
print(df.head())

Feature engineering completed!
   Invoice StockCode                          Description  Quantity  \
0   536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1   536365     71053                  WHITE METAL LANTERN         6
2   536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3   536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4   536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  Price  Customer ID         Country  TotalPrice  \
0 2010-01-12 08:26:00   2.55      17850.0  United Kingdom       15.30
1 2010-01-12 08:26:00   3.39      17850.0  United Kingdom       20.34
2 2010-01-12 08:26:00   2.75      17850.0  United Kingdom       22.00
3 2010-01-12 08:26:00   3.39      17850.0  United Kingdom       20.34
4 2010-01-12 08:26:00   3.39      17850.0  United Kingdom       20.34

   InvoiceYear  InvoiceMonth  InvoiceDay
0         2010             1          12
1         2010             1          12
2         2010             1          12
3         2010             1          12
4         2010             1          12